/*cabeçalho*/
.body{
    margin: 0;
}


    .sectionbody {  
        display: flex;
        flex-direction: row;    
    }

    .cabeçalho {
        background-color: #433878;
         display: flex;
          justify-content: center;
         height: 20vh;
    }

    .main{
        height: 80vh;
        background-color: white;
        flex: 1;
    }

    .subtt {
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 8px 16px;
        font-family: Tahoma;
    }

    .titulo {
        display: flex;
        justify-content: center;
        padding: 24px, 34px;
        color: white;
    }  

    .titulo h1{
        text-align: center;
        justify-content: center;
        text-size-adjust: 18pt;
        font-weight: bold;
        font-family: tahoma, sans-serif;


    }

    .subtitulo {
       text-align: center;
       text-decoration: none;
       font-weight: bold;
       padding: 8px, 16px;
       font-family: Tahoma;

    }
    
    
    .barranav{
        display: flex;
        padding: 15px;
        background-color: #B7B7B7;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    
    .orglist {
       display: flex;
       align-items: center;
       justify-content: space-around;
       flex-direction: row;

    }

    .buttonnav{
        padding: 8px 22px;
        border-radius: 6px;
        transition: all 0.2 ease;
        color: #EDDFE0 ;

    }

    .button:active{
       transform: scale(0.98);
    }
    
    .txtbt {
    display: flex;
     font-size: 5pt 10pt;
     text-align: center;
     color: white;
     text-decoration: none;

    }

    .corpo {
        justify-content: center;
    }
    
    .txt {
        text-align: center;
        justify-content: center;
        font-family: georgia ,sans-serif;
        color: black;
    }
    
    .artigos {
        justify-content: center;
        font-family: sans-serif;
        text-decoration: none;
    }

    .aside {
        height: 80vh;
        width: 25vh;
        background-color: #999;
        }

    
    .rodape {
        justify-content: center;
        text-align:center;
        display:flex;
        background-color: black;
        height: 10vh;
    }

    .txtrdp{
      color: white;
      font-family: arial;
      font-size: 15pt;
      text-align: center;


    }
