/*cabeçalho*/
.body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FEF9F2;
    flex: 1;
    
    }
    
    .cabeçalho {
        display: flex;
       justify-content: center;
       height: 20vh;
    }
    .titulo {
        display: flex;
        justify-content: center;
        padding: 20px, 30px;
    }  

    .titulo h1{
        text-align: center;
        justify-content: center;
        text-size-adjust: 18pt;
        font-weight: bold;
        font-family: tahoma, sans-serif;


    }

    .subtitulo {
       text-align: center;
       text-decoration: none;
       font-weight: bold;
       padding: 8px, 16px;
       font-family: Tahoma;

    }
    
    
    .barranav{
        display: flex;
        padding: 15px;
        background-color: black;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    
    .barranav li{
        color: white;
        text-decoration: none;
        font-size: 17pt;
    }
    
    .corpo {
        justify-content: center;
    }
    
    .txt {
        text-align: center;
        justify-content: center;
        font-family: georgia ,sans-serif;
        color: black;
    }
    
    .sections{
        justify-content: center;
        font-family: sans-serif;
        text-decoration: none;
    }

    .aside {
        height: 90vh;
        background-color: #999;
        width: 25vh;
    }

    .aside section{
        display: flex;
        flex-direction: row;
    }
    
    .rodape {
        text-align:center;
        display:block;
        background-color: black;
        color: white;
        height: 20vh;
        font-family: arial;
    }
    