/*cabeçalho*/
.body{
margin: 0;
padding: 0;
border: 0;
}

.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b4b4b4;
    padding: 10px 20px;


}
.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: "bold";
    padding: 20px, 30px;
    text-decoration: none;
}  

.barranav{
    background-color: #133E87, #608BC1;
    display: flex;
}

.corpo {
    justify-content: center;
    background-color: antiquewhite;
}

.sections{
    justify-content: center;
    font-family: sans-serif;
    text-decoration: none;
}

.rodape {
    
    background-color: black;
    text-decoration: white;
    font-family: arial;
}
